<link rel="stylesheet" href="../assets/css/dashboard-form-page.css" />
<form class="add-job-container" action="/profile?_method=PATCH" method="POST" enctype="multipart/form-data">
  <h4 class="form-title">profile</h4>
  <div class="form-center">
    <%- include('../partials/form-row.ejs', {type: 'file', name: 'avatar', labelText:"Select An Image File (Max 0.5 MB)", accept:"image/*"}) %>
    <%- include('../partials/form-row.ejs', {type: 'text', name: 'fullName', value: user.fullName}) %>
    <%- include('../partials/form-row.ejs', {type: 'text', name: 'location', value: user.location}) %>
    <%- include('../partials/form-row.ejs', {type: 'text', disabled: true, name: 'email', value: user.email}) %>
    <button type="submit" class="btn btn-block">
      save changes
    </button>
  </div>
</form>