<link rel="stylesheet" href="./assets/css/error.css" />
<main class="full-page">
  <div>
    <img src="./assets/images/not-found.svg" alt="not found" />
    <h3>Ohh! Page Not Found</h3>
    <p>we can't seem to find the page you are looking for</p>
    <a href="/">back home</a>
  </div>
</main>