<link rel="stylesheet" href="./assets/css/landing.css" />
<main>
  <nav>
    <%- include('./partials/logo.ejs') %>
  </nav>
  <div class="container page">
    <div class="info">
      <h1>
        job <span>tracking</span> app
      </h1>
      <p>
        I'm baby wayfarers hoodie next level taiyaki brooklyn
        cliche blue bottle single-origin coffee chia. Aesthetic
        post-ironic venmo, quinoa lo-fi tote bag adaptogen
        everyday carry meggings +1 brunch narwhal.
      </p>
      <a href="/register" class="btn register-link">
        register
      </a>
      <a href="/login" class="btn btn-hero">
        login / demo user
      </a>
    </div>
    <img src="./assets/images/main.svg" alt="job hunt" class="img main-img" />
  </div>
</main>