<aside>
  <div class='sidebar-container show-sidebar'>
    <div class="content">
      <header>
        <%- include('./logo.ejs')  %>
      </header>
      <NavLinks currentPath="/dashboard" />
    </div>
  </div>
</aside>